<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<footer id="tg-footer" class="tg-footer tg-haslayout" th:fragment= "footer">
		<div class="tg-footerarea">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-clientservices">
							<li class="tg-devlivery">
								<span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Fast Delivery</h3>
									<p>Shipping Worldwide</p>
								</div>
							</li>
							<li class="tg-discount">
								<span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Open Discount</h3>
									<p>Offering Open Discount</p>
								</div>
							</li>
							<li class="tg-quality">
								<span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
								<div class="tg-titlesubtitle">
									<h3>Eyes On Quality</h3>
									<p>Publishing Quality Work</p>
								</div>
							</li>
							<li class="tg-support">
								<span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
								<div class="tg-titlesubtitle">
									<h3>24/7 Support</h3>
									<p>Serving Every Moments</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="tg-threecolumns">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-footercol">
								<strong class="tg-logo"><a href="javascript:void(0);"><img src="images/flogo.png" alt="image description"></a></strong>
								<ul class="tg-contactinfo">
									<li>
										<i class="icon-apartment"></i>
										
										<a href="https://www.google.com/maps/place/Industrial+University+of+Ho+Chi+Minh+City/@10.8224989,106.6880843,15z/data=!4m5!3m4!1s0x3174deb3ef536f31:0x8b7bb8b7c956157b!8m2!3d10.8222965!4d106.6874508">Industrial University of Ho Chi Minh City</a>
									</li>
									<li>
										<i class="icon-clock"></i>
										<span>Serving 7 Days A Week From 6am - 9pm</span>
									</li>
									<li>
										<i class="icon-phone-handset"></i>
										<span>
											<em><a href="tel:0978978978">0978978978</a></em>
											
										</span>
									</li>
									
									<li>
										<i class="icon-envelope"></i>
										<span>
											<em><a href="mailto:support@domain.com">pvhuan552000@gmail.com</a></em>
											
										</span>
									</li>
								</ul>
								<ul class="tg-socialicons">
									<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
									<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
									<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
									<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
									<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-footercol tg-widget tg-widgetnavigation">
								<div class="tg-widgettitle">
									<h3>Shipping And Help Information</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li><a href="javascript:void(0);">Terms of Use</a></li>
										<li><a href="javascript:void(0);">Terms of Sale</a></li>
										<li><a href="javascript:void(0);">Returns</a></li>
										<li><a href="javascript:void(0);">Privacy</a></li>
										<li><a href="javascript:void(0);">Cookies</a></li>
										<li><a href="javascript:void(0);">Contact Us</a></li>
										<li><a href="javascript:void(0);">Our Affiliates</a></li>
										<li><a href="javascript:void(0);">Vision &amp; Aim</a></li>
									</ul>
									<ul>
										<li><a href="javascript:void(0);">Our Story</a></li>
										<li><a href="javascript:void(0);">Meet Our Team</a></li>
										<li><a href="javascript:void(0);">FAQ</a></li>
										<li><a href="javascript:void(0);">Testimonials</a></li>
										<li><a href="javascript:void(0);">Join Our Team</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<div class="tg-footercol tg-widget tg-widgettopsellingauthors">
								<div class="tg-widgettitle">
									<h3>Top Selling Authors</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li>
											<figure><a href="javascript:void(0);"><img src="images/team/dat.jpg" alt="image description" style="height: 70px; width: 70px"></a></figure>
											<div class="tg-authornamebooks">
												<h4><a href="javascript:void(0);">dinh duc dat</a></h4>
												<p>42,523 Published Books</p>
											</div>
										</li>
										<li>
											<figure><a href="javascript:void(0);"><img src="images/team/giang.jpg" alt="image description" style="height: 70px; width: 70px"></a></figure>
											<div class="tg-authornamebooks">
												<h4><a href="javascript:void(0);">vo thi tra giang</a></h4>
												<p>2,201 Published Books</p>
											</div>
										</li>
										<li>
											<figure><a href="javascript:void(0);"><img src="images/team/huy.jpg" alt="image description" style="height: 70px; width: 70px"></a></figure>
											<div class="tg-authornamebooks">
												<h4><a href="javascript:void(0);">dinh quang huy</a></h4>
												<p>686 Published Books</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-newsletter">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4>Signup Newsletter!</h4>
						<h5>contact with us.</h5>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<form class="tg-formtheme tg-formnewsletter">
							<fieldset>
								<input type="email" name="email" class="form-control" placeholder="Enter Your Email ID">
								<button type="button"><i class="icon-envelope"></i></button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-footerbar">
			<a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="tg-paymenttype"><img src="images/paymenticon.png" alt="image description"></span>
						<span class="tg-copyright">2022 All Rights Reserved By &copy; World Book Store</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>