<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="utf-8">
</head>
<body>
	<header id="tg-header" class="tg-header tg-haslayout"
		th:fragment="header">
		<div class="tg-topbar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-addnav">
							<li><a href="javascript:void(0);" th:href=@{/contact}> <i
									class="icon-envelope"></i> <em>Contact</em>
							</a></li>
							<li><a href="javascript:void(0);"> <i
									class="icon-question-circle"></i> <em>Help</em>
							</a></li>
						</ul>

						<div class="dropdown tg-themedropdown tg-currencydropdown">
							<a href="javascript:void(0);" id="tg-currenty"
								class="tg-btnthemedropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <i
								class="icon-earth"></i> <span>Currency</span>
							</a>
							<ul class="dropdown-menu tg-themedropdownmenu"
								aria-labelledby="tg-currenty">
								<li><a href="javascript:void(0);" th:href="@{/about}"> <span>VND</span>
								</a></li>
							</ul>
						</div>

						<div class="tg-userlogin" th:if="${customer.email != null}">
							<div class="dropdown tg-themedropdown tg-currencydropdown">
								<a href="javascript:void(0);" id="tg-currenty"
									class="tg-btnthemedropdown" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> <i
									class="icon-earth"></i> <span>Hi ,
										[[${customer.fullname}]] </span>
								</a>
								<ul class="dropdown-menu tg-themedropdownmenu"
									aria-labelledby="tg-currenty">
									<li><a th:href="@{/logout}"> <span>Logout</span>
									</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-middlecontainer" style="background-color: #f0f1f0;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<strong class="tg-logo"><a th:href="@{/}"><img
								src="images/logo.png" alt="company name here" style="max-height: 70px;"></a></strong>
						<div class="tg-wishlistandcart">
							<div class="dropdown tg-themedropdown tg-wishlistdropdown">
								<a href="/favorite" id="tg-wishlisst"
									class="tg-btnthemedropdown"> <span class="tg-themebadge"
									id="totalFavorite" th:text="${totalSave}"></span> <i
									class="icon-heart"></i> <span>Favorite</span>
								</a>
								
							</div>
							<div class="dropdown tg-themedropdown tg-minicartdropdown">
								<a href="javascript:void(0);" id="tg-minicart"
									class="tg-btnthemedropdown" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> <span
									class="tg-themebadge" th:text="${totalCartItems}"
									id="totalCartItems"></span> <i class="icon-cart"></i> <span>Cart</span>
								</a>
								<div class="dropdown-menu tg-themedropdownmenu"
									aria-labelledby="tg-wishlisst" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									<div class="tg-description">
										<p>No products in your cart!</p>
									</div>
								</div>



								<div class="dropdown-menu tg-themedropdownmenu"
									aria-labelledby="tg-minicart" th:each="item : ${cartItems}">

									<div class="tg-minicartbody" th:each="item : ${cartItems}">
										<div class="tg-minicarproduct">
											<figure>
												<img
													th:src="@{'/loadImage?imageName='+${item.book.bookImage}}"
													alt="image description" width="50" height="50">

											</figure>
											<div class="tg-minicarproductdata">
												<h5>
													<a href="javascript:void(0);"
														th:text="${item.book.bookName}"></a>
												</h5>
												<h6>
													<a href="javascript:void(0);">[[${#numbers.formatDecimal(item.book.price,
														1, 'DEFAULT', 0, 'DEFAULT')} + ' VND']]</a>
												</h6>
											</div>
										</div>
									</div>

									<div class="tg-minicartfoot">
										<a class="tg-btnemptycart" href="javascript:void(0);"> <i
											class="fa fa-trash-o"></i> <span>Clear Your Cart</span>
										</a> <span class="tg-subtotal">Total <strong>[[${#numbers.formatDecimal(item.book.price
												* item.quantity, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VND']]</strong></span>
										<div class="tg-btns">
											<a class="tg-btn tg-active" href="/cartItem">View cart</a>
											<a class="tg-btn" href="/checkout">Payment</a>
										</div>
									</div>	
								</div>


							</div>
						</div>
						<div class="tg-searchbox">
							<form th:action="@{/search}" class="tg-formtheme tg-formsearch">
								<fieldset>
									<input type="text" name="keyword"
										class="typeahead form-control" th:value="${keyword}"
										placeholder="Search books...">
									<button type="submit">
										<i class="icon-magnifier"></i>
									</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-navigationarea">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<nav id="tg-nav" class="tg-nav">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed"
									data-toggle="collapse" data-target="#tg-navigation"
									aria-expanded="false">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<div id="tg-navigation"
								class="collapse navbar-collapse tg-navigation">
								<ul>
									<li class="menu-item-has-children"><a
										href="javascript:void(0);">All Categories</a>
										<div class="mega-menu">
											<ul class="tg-themetabnav">
												<li><a th:href="@{/}">Home</a></li>
												<li><a th:href="@{/products}">Bestseller</a></li>
												
											</ul>
										</div></li>
									<li class="menu-item-has-children current-menu-item"><a
										href="javascript:void(0);">Home</a>
										<ul class="sub-menu">
											<li class="current-menu-item"><a th:href="@{/}">Home</a></li>
										</ul></li>
									<li class="menu-item-has-children"><a
										href="javascript:void(0);">Author</a>
										<ul class="sub-menu">
											<li><a href="authors">Author</a></li>
										</ul></li>
									<li><a href="products">Bestseller</a></li>
									
									<li th:if="${customer.email == null}"><a href="/login">Login</a></li>
									<li th:if="${customer.email == null}"><a
										href="/registered">Register</a></li>
									<li><a th:href="@{/contact}">Contact</a></li>
									<li><a th:href="@{/about}">About</a></li>

								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>